<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cricboard_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cricboard_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".TargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2"
            android:exported="false" />
        <activity
            android:name=".PlayerStatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".ScoreboardOpponentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".ScoreboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".OpeningPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".OpeningOpponentPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".NewBowlerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".CongratulationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application" />
        <activity
            android:name=".UpdatePlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.CricBoard_Application3" />
        <activity
            android:name=".AddPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application3" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CricBoard_Application">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>